<div id="footer">
        <div class="container">
            <div class="row" style="color: aqua;">
                <div class="col" id="mrgn">
                    <h1>Hakkımızda</h1>
                    <div class="ince-hr col-2"></div>
                </div>
                <div class="w-100"></div>
                <div class="col-2" id="mrgn">
                    <p>WinnerOrganizasyon/Hakkımızda</p>
                </div>
            </div>
        </div>

    </div>
    <div id="mid">
        <div class="container">
            <div class="row">
                <div class="col text-dark" style="margin-top: 7%;margin-bottom: 7%;">
                    <h1 id="title"><img src="~/organize/winner.png" alt="" style="width: 20%;background-color:blueviolet;border-radius: 50%;"></h1>
                </div>
                <div class="w-100"></div>
                <div class="col"><img src="~/organize/resim10.jpg" alt="" style="width: 100%;"></div>
                <div class="col">
                    <p style="text-align: start;">Winner Organizasyon, hayatınızın en özel anlarını unutulmaz kılmak için burada! Biz, düğünlerden
                        kınalara, baby shower partilerinden özel hediyeliklere kadar her türlü organizasyonu planlama ve
                        gerçekleştirme konusunda uzmanlaşmış bir ekip olarak sizin yanınızdayız.<br><br><br><br>

                        Müşterilerimizin hayallerini gerçeğe dönüştürmek için yaratıcı fikirlerimiz ve detaylara
                        verdiğimiz özen ile tanınıyoruz. Her etkinliği benzersiz kılmak için özgün konseptler
                        geliştiriyor, her detayı özenle planlayarak en unutulmaz anıları oluşturuyoruz.<br><br><br><br>

                        Winner Organizasyon olarak, müşteri memnuniyetini her şeyin önünde tutuyoruz. Her bir etkinliği,
                        sizin beklentilerinizi aşacak şekilde özel ve kişiselleştirilmiş bir deneyim haline getirmek
                        için çabalıyoruz. Profesyonellik, titizlik ve samimiyetle yaklaşıyor, her müşterimizin özel
                        günlerini benzersiz kılmak için elimizden gelenin en iyisini yapıyoruz.<br><br><br><br>

                        Bizimle çalışarak, her detayı bizimle paylaşın ve hayalinizdeki etkinliği birlikte
                        gerçekleştirelim. Size özel bir deneyim sunmak için buradayız. Bizimle iletişime geçin ve Winner
                        Organizasyon farkını yaşayın!<br><br><br><br>

                        Unutulmaz anılar ve mutlu başlangıçlar için Winner Organizasyon'u tercih edin!</p>
                </div>
            </div>
        </div>
        <div class="kalın-hr"></div>
    </div>

    </div>