 <div id="footer">
        <div class="container">
            <div class="row" style="color: aqua;">
                <div class="col" id="mrgn">
                    <h1>Konseptlerimiz</h1>
                    <div class="ince-hr col-2"></div>
                </div>
                <div class="w-100"></div>
                <div class="col-2" id="mrgn">
                    <p>WinnerOrganizasyon/Konseptlerimiz/Detay</p>
                </div>
            </div>
        </div>
    </div>
    <div id="conceptDetails">
        <div class="container">
            <div class="row d-flex justify-content-start">
                <h1>Kına Konsept</h1>
                <div class="w-100"></div>
                <p style="opacity: 0.4;"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum, assumenda?</p>
              <div class="w-100"></div>
              <div class="row d-flex justify-content-start">
                <img src="~/organize/birthday.jpeg" alt="" style="width: 80%;">
            </div>
          </div>
    
    </div>
     <div id="pht" class="slider-container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Fotoğraflar</h1>
                    <div class="col-1 ince-hr"></div><br>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <img src="~/organize/winner.png" alt="" style="width: 10%;background-color:darkgreen;border-radius: 50%;">
                </div>
                <div class="w-100"></div>
                    <div class="col" style="margin-top: 10%;">
                        <a href="#pht" class="photo-link">
                            <img src="~/organize/birthday.jpeg" alt="" class="photo">
                        </a>
                    </div>
                    <div class="col" style="margin-top: 10%;">
                        <a href="#pht" class="photo-link">
                            <img src="~/organize/back.jpeg" alt="" class="photo">
                        </a>
                    </div>
                    <div class="col" style="margin-top: 10%;">
                        <a href="#pht" class="photo-link">
                            <img src="~/organize/birthday.jpeg" alt="" class="photo">
                        </a>
                    </div>
                    
                    <!-- Additional photos here -->
                </div>
            </div>
    
    </div>