 <div id="footer">
        <div class="container">
            <div class="row" style="color: aqua;">
                <div class="col" id="mrgn">
                    <h1>Konseptlerimiz</h1>
                    <div class="ince-hr col-2"></div>
                </div>
                <div class="w-100"></div>
                <div class="col-2" id="mrgn">
                    <p>WinnerOrganizasyon/Konseptlerimiz</p>
                </div>
            </div>
        </div>
    </div>
    <div id="concept">
        <div class="row">
            <div class="col">
                <a asp-controller="Concepts" asp-action="Details" class="bck"><img src="~/organize/birthday.jpeg" alt="">
                    <div class="w-100"></div>
                    <h5>Labirent Konsept</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iste?</p>

                </a>
            </div>
            <div class="col">
                <a asp-controller="Concepts" asp-action="Details" class="bck"><img src="~/organize/birthday.jpeg" alt="">
                    <div class="w-100"></div>
                    <h5>Perde Konsept</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iste?</p>

                </a>
            </div>
            <div class="col">
                <a asp-controller="Concepts" asp-action="Details" class="bck"><img src="~/organize/birthday.jpeg" alt="">
                    <div class="w-100"></div>
                    <h5>Zerafet Konsept</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iste?</p>

                </a>
            </div>
            <div class="w-100"></div>
            <div class="col" class="bck">
                <a asp-controller="Concepts" asp-action="Details" ><img src="~/organize/birthday.jpeg" alt="">
                    <div class="w-100"></div>
                    <h5>Kına Konsept</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iste?</p>

                </a>
            </div>
            <div class="col" class="bck">
                <a asp-controller="Concepts" asp-action="Details" class="bck"><img src="~/organize/birthday.jpeg" alt="">
                    <div class="w-100"></div>
                    <h5>Kapı Konsept</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iste?</p>
                </a>
            </div>
            <div class="col">
                <a asp-controller="Concepts" asp-action="Details"  class="bck"><img src="~/organize/birthday.jpeg" alt="">
                    <div class="w-100"></div>
                    <h5>Çiçek Duvar Konsept</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, iste?</p>
                </a>
            </div>
        </div>
    </div>