<div class="container">
    <div class="row">
        <div class="col-sm" style="margin-top: 15em;height: 10em;">
            <div id="img-wrapper" data-mouse-down-at="0" data-prev-percentage="0">
                <img src="~/organize/resim5.jpg" alt="" class="image" draggable="false">
                <img src="~/organize/resim6.jpg" alt="" class="image" draggable="false">
                <img src="~/organize/resim7.jpg" alt="" class="image" draggable="false">
                <img src="~/organize/resim8.jpg" alt="" class="image" draggable="false">
                <img src="~/organize/resim9.jpg" alt="" class="image" draggable="false">
                <img src="~/organize/resim10.jpg" alt="" class="image" draggable="false">
                <img src="~/organize/resim11.jpg" alt="" class="image" draggable="false">
                <img src="~/organize/resim12.jpg" alt="" class="image" draggable="false">
                <img src="~/organize/resim13.jpg" alt="" class="image" draggable="false">
                <img src="~/organize/resim1.jpeg" alt="" class="image" draggable="false">

            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 18em;">
        <div class="col-sm">
            <img src="~/organize/resim9.jpg" alt="" style="width: 30em;">
        </div>
        <div class="col-sm" style="text-align: center;">
            <h1>Winner Organizasyon</h1>
            <div class="ince-hr d-flex justify-content-center"></div><br>
            <p>Winner Organizasyon, etkileyici etkinlikler düzenleyerek özel anlarınıza unutulmaz bir dokunuş
                katmayı hedefleyen bir organizasyon firmasıdır. Profesyonel ve deneyimli ekibimiz, düğünlerden
                kurumsal etkinliklere, özel partilerden özel gün kutlamalarına kadar geniş bir yelpazede etkinlik
                düzenleme konusunda size destek sunar.

                Müşteri memnuniyetini ön planda tutan Winner Organizasyon, her detayı özenle planlar ve
                etkinliklerinizi hayalinizdeki gibi gerçekleştirmek için elinden gelenin en iyisini yapar. Yaratıcı
                fikirler, estetik tasarımlar ve profesyonel koordinasyon ile etkinliklerinizi unutulmaz kılar.

                Siz sadece özel anınızın tadını çıkarın, Winner Organizasyon detayları düşünsün!</p>
        </div>
    </div>
</div>
<div id="communucation">
    <h1 style="font-family:'Times New Roman', Times, serif;color: aqua;" class="d-flex justify-content-center">
        Teklif İsteyin
    </h1>
    <div class="col-1 ince-hr"></div>
    <div class="d-flex justify-content-center">
        <div>
            <form>
                <div class="row" style="width:870px;height:460px">
                    <div class="form-group">
                        <div class="col"> <input type="text" id="exampleInputEmail1" placeholder="İsminizi giriniz">
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="form-group">
                        <div class="col"> <input type="text" id="exampleInputEmail1" placeholder="Numaranızı giriniz">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col"> <input type="email" id="exampleInputEmail1" placeholder="E-posta giriniz">
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="form-group">
                        <div class="col"><textarea id="message" placeholder="Mesajınızı Yazınız" rows="5"
                                cols="90%"></textarea></div>
                    </div>
                    <div class="w-100"></div>
                    <div class="form-group">
                        <input class="btn btn-info" type="submit" value="Gönder">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="video" style="background-color:#FCF2F3;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Videolar</h1>
                <div class="col-1 ince-hr"></div><br>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <img src="~/organize/winner.png" alt=""
                    style="width: 10%;background-color:darkgreen;border-radius: 50%;">
            </div>
            <div class="owl-carousel owl-theme" id="carousel1">
                <div class="item"><a href="#video" class="video-link"><video loop src="organize/video2.mp4" autoplay
                            muted class="video" id="video" autoplay muted id="vdeo" class="video"></video></a></div>
                <div class="item"><a href="#video" class="video-link"><video loop src="organize/video1.mp4" autoplay
                            muted class="video" id="video" autoplay muted id="vdeo" class="video"></video></a></div>
                <div class="item"><a href="#video" class="video-link"><video loop src="organize/video2.mp4" autoplay
                            muted class="video" id="video" autoplay muted id="vdeo" class="video"></video></a></div>
                <div class="item"><a href="#video" class="video-link"><video loop src="organize/video1.mp4" autoplay
                            muted class="video" id="video" autoplay muted id="vdeo" class="video"></video></a></div>
            </div>

        </div>

    </div>
</div>



<div id="pht" class="slider-container" style="margin-bottom: 20%;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Fotoğraflar</h1>
                <div class="col-1 ince-hr"></div><br>
            </div>

            <div class="w-100"></div>
            <div class="col">
                <img src="~/organize/winner.png" alt=""
                    style="width: 10%;background-color:darkgreen;border-radius: 50%;">
            </div>
            <div class="owl-carousel owl-theme" id="carousel2" style="margin-top: 10%;">
                <div class="item"><a href="#pht" class="photo-link"><img src="~/organize/resim6.jpg" alt="Error"
                            class="photo"></a></div>
                <div class="item"><a href="#pht" class="photo-link"><img src="~/organize/resim7.jpg" alt="Error"
                            class="photo"></a></div>
                <div class="item"><a href="#pht" class="photo-link"><img src="~/organize/resim8.jpg" alt="Error"
                            class="photo"></a></div>
                <div class="item"><a href="#pht" class="photo-link"><img src="~/organize/resim5.jpg" alt="Error"
                            class="photo"></a></div>
                <div class="item"><a href="#pht" class="photo-link"><img src="~/organize/resim9.jpg" alt="Error"
                            class="photo"></a></div>
                <div class="item"><a href="#pht" class="photo-link"><img src="~/organize/resim10.jpg" alt="Error"
                            class="photo"></a></div>
            </div>
        </div>
    </div>
 
</div>