<div class="container">
        <div class="row">
            <div class="col-sm" style="margin-top: 15em;height: 10em;">
                <div id="img-wrapper" data-mouse-down-at="0" data-prev-percentage="0">
                    <img src="https://images.unsplash.com/photo-1679646485963-8a9b91ff1f42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"
                        alt="" class="image" draggable="false">
                    <img src="https://images.unsplash.com/photo-1679694140422-aecfd3d5dd0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"
                        alt="" class="image" draggable="false">
                    <img src="https://images.unsplash.com/photo-1679699832481-caf175bf61c8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2728&q=80"
                        alt="" class="image" draggable="false">
                    <img src="https://images.unsplash.com/photo-1679665007563-428310d2825e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"
                        alt="" class="image" draggable="false">
                    <img src="https://images.unsplash.com/photo-1679732691204-afc1e6bf5880?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2372&q=80"
                        alt="" class="image" draggable="false">
                    <img src="https://images.unsplash.com/photo-1679640299874-118b1b6762c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"
                        alt="" class="image" draggable="false">
                    <img src="https://images.unsplash.com/photo-1679678691005-3815eb29bc61?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2369&q=80"
                        alt="" class="image" draggable="false">
                    <img src="https://images.unsplash.com/photo-1679590060902-3556e64a676f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3432&q=80"
                        alt="" class="image" draggable="false">
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 18em;">
            <div class="col-sm">
                <img src="https://cdn-europe.dugunbuketi.com/media/115669/conversions/your-day-nisan-organizasyon-(1)-lg.jpg"
                    alt="" style="height: 25em;">
            </div>
            <div class="col-sm" style="text-align: center;">
                <h1>Winner Organizasyon</h1>
                <div class="ince-hr d-flex justify-content-center"></div><br>
                <p>Winner Organizasyon, etkileyici etkinlikler düzenleyerek özel anlarınıza unutulmaz bir dokunuş
                    katmayı hedefleyen bir organizasyon firmasıdır. Profesyonel ve deneyimli ekibimiz, düğünlerden
                    kurumsal etkinliklere, özel partilerden özel gün kutlamalarına kadar geniş bir yelpazede etkinlik
                    düzenleme konusunda size destek sunar.

                    Müşteri memnuniyetini ön planda tutan Winner Organizasyon, her detayı özenle planlar ve
                    etkinliklerinizi hayalinizdeki gibi gerçekleştirmek için elinden gelenin en iyisini yapar. Yaratıcı
                    fikirler, estetik tasarımlar ve profesyonel koordinasyon ile etkinliklerinizi unutulmaz kılar.

                    Siz sadece özel anınızın tadını çıkarın, Winner Organizasyon detayları düşünsün!</p>
            </div>
        </div>
    </div>
    <div id="communucation">
        <h1 style="font-family:'Times New Roman', Times, serif;color: aqua;" class="d-flex justify-content-center">
            Teklif İsteyin
        </h1>
        <div class="col-1 ince-hr"></div>
        <div class="d-flex justify-content-center">
            <div>
                <form>
                    <div class="row" style="width:870px;height:460px">
                        <div class="form-group">
                            <div class="col"> <input type="text" id="exampleInputEmail1" placeholder="İsminizi giriniz">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="form-group">
                            <div class="col"> <input type="text" id="exampleInputEmail1"
                                    placeholder="Numaranızı giriniz">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col"> <input type="email" id="exampleInputEmail1" placeholder="E-posta giriniz">
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="form-group">
                            <div class="col"><textarea id="message" placeholder="Mesajınızı Yazınız" rows="5"
                                    cols="90%"></textarea></div>
                        </div>
                        <div class="w-100"></div>
                        <div class="form-group">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="video" style="background-color:#FCF2F3 ;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Videolar</h1>
                    <div class="col-1 ince-hr"></div><br>
                </div>
                <div class="w-100"></div>
                <div class="col"><img src="~/organize/winner.png" alt=""
                        style="width: 10%;background-color:darkgreen;border-radius: 50%;"></div>
                <div class="w-100"></div>
                <div class="col" style="margin-top: 10%;"><a href="#video" class="video-link"><video loop src="organize/DOĞM GUN (1).mp4"
                            autoplay muted id="vdeo" class="video"><video> 
                            </a></div>
                <div class="col" style="margin-top: 10%"><a href="#video" class="video-link"><video loop
                            src="organize/Motivasyon Instagram Reels.mp4" autoplay muted id="vdeo" class="video"></video></a></div>
                <div class="col" style="margin-top: 10%;"><a href="#video" class="video-link"><video loop src="organize/DOĞM GUN (1).mp4"
                            autoplay muted id="vdeo" class="video"></video></a></div>

            </div>
        </div>

    </div>
    <div id="pht" class="slider-container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Fotoğraflar</h1>
                    <div class="col-1 ince-hr"></div><br>
                </div>
                <div class="w-100"></div>
                <div class="col">
                    <img src="~/organize/winner.png" alt="" style="width: 10%;background-color:darkgreen;border-radius: 50%;">
                </div>
                <div class="w-100"></div>
                    <div class="col" style="margin-top: 10%;">
                        <a href="#pht" class="photo-link">
                            <img src="~/organize/birthday.jpeg" alt="" class="photo">
                        </a>
                    </div>
                    <div class="col" style="margin-top: 10%;">
                        <a href="#pht" class="photo-link">
                            <img src="~/organize/back.jpeg" alt="" class="photo">
                        </a>
                    </div>
                    <div class="col" style="margin-top: 10%;">
                        <a href="#pht" class="photo-link">
                            <img src="~/organize/birthday.jpeg" alt="" class="photo">
                        </a>
                    </div>
                    
                    <!-- Additional photos here -->
                </div>
            </div>
    
    </div>