<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">

    <!-- Owl Carousel JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <title>Winner Organizasyon - Düğün ve Nişan Organizasyon Ankara</title>
    <link rel="icon" type="image/x-icon" href="~/organize/image.jpg">
    <meta name="description"
        content="Ankara nişan organizasyonu, hastane odası süsleme ve doğum günü organizasyonunda kusursuz hizmetin adresi.Winner Organizasyon, düğün, kına gecesi ve baby shower gibi özel etkinlikler için profesyonel organizasyon hizmetleri sunmaktadır.Class Organizasyon Ankara Organizasyon ve Kiralama Hizmetleri. Düğün, Nişan, Kına Gecesi, Sünnet, Mezuniyet Gecesi organizasyonları. Sandalye ve masa kiralama.">
    <meta name="keywords"
        content="Hastane odası süslemesi, Doğum odası süslemesi, Nişan organizasyonu, söz organizasyonu, Ankara organizasyon, baby shower partisi, gender parti organizasyonu, Ankara açılış davet organizasyonu, mezuniyet partisi,">
    <meta name="author" content="Winner Organizasyon,Ankara Organizasyon">

</head>

<body style="overflow-y: auto;">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="height: 7em;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand text-white" href="/"><img src="~/organize/winner.png" alt="" style="width: 30%;"
                    class="ml-5"></a>
            <ul class="navbar-nav ml-auto mt-5 mt-lg-0 mx-5">
                <li class="nav-item active awayer">
                    <a class="nav-link text-white" asp-action="Index" asp-controller="Home">
                        <p id="text-nav">Ana Sayfa</p> <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item awayer">
                    <a class="nav-link text-white" asp-action="Index" asp-controller="About">
                        <p id="text-nav">Hakkımızda</p>
                    </a>
                </li>
                <li class="nav-item awayer">
                    <a class="nav-link text-white" asp-action="Index" asp-controller="Concepts">
                        <p id="text-nav">Konseptlerimiz</p>
                    </a>
                </li>
                <li class="nav-item awayer">
                    <a class="nav-link text-white" asp-action="Index" asp-controller="Galery">
                        <p id="text-nav">Galeri</p>
                    </a>
                </li>
                <li class="nav-item awayer">
                    <a class="nav-link text-white" asp-action="Index" asp-controller="Communucation">
                        <p id="text-nav">İletişim</p>
                    </a>
                </li>
            </ul>

        </div>
    </nav>

    <div>@RenderBody()</div>




    <div style="margin-bottom: 0%;margin-top:20%; height: 7em;background-color: wheat;position: relative; bottom: 0px;">

        <div class="d-flex flex-row mx-5 my-lg-3">
            <div id="design" class="my-4">
                <p style="color:blue;">Design By <i style="color: blueviolet;"> <a
                            href="https://www.instagram.com/burhancvdroglu/" target="_blank"
                            style="outline: none;color: blueviolet;"><b>Burhan Çavdaroğlu</b></a></i></p>
            </div>
            @{
                string text = "@2023 Winner Organizasyon Tüm Hakları Saklıdır";
            }
            <div class="ml-auto my-4 text-dark "><b>@text</b></div>
            <div class="ml-5 my-4 "><a href="https://www.instagram.com/winner.organizasyon/" target="_blank"><i
                        class="fa-brands fa-instagram fa-lg" id="icon"></i></a></div>
            <div class="ml-2 my-4 "><a href="https://wa.me/05529445506" target="_blank"><i
                        class="fa-brands fa-whatsapp fa-lg" id="icon"></i></a></div>
        </div>
    </div>
    <div class="cornerItem">
        <div class="container">
            <div class="row">
                <div class="col-0">
                    <div><a href="https://www.instagram.com/winner.organizasyon/" target="_blank"><img
                                src="~/organize/insta.png" alt="" style="width: 80%;"></a></div>
                </div>
                <div class="col-0">
                    <div><a href="https://wa.me/05529445506" target="_blank"><img src="~/organize/wp.png" alt=""
                                style="width: 75%;"></a></div>
                </div>
            </div>

        </div>
        <script src="~/js/site.js"></script>
</body>

</html>
